<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="net.trimn.bybuss"
      android:installLocation="preferExternal" android:versionCode="5" android:versionName="1.1.23">
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:allowBackup="true" android:allowClearUserData="false" android:enabled="true" android:vmSafeMode="true" android:debuggable="false" android:persistent="true">
        <uses-library android:name="com.google.android.maps"/>

        <activity android:name="ByBuss"
                  android:label="@string/app_name"
                  android:configChanges="orientation"
                  android:theme="@style/customTheme">
<!--                  android:theme="@style/customTheme"-->
<!--                  android:screenOrientation="portrait"-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
</application>






<uses-permission android:name="android.permission.INTERNET"></uses-permission>
<uses-sdk android:maxSdkVersion="9" android:minSdkVersion="4" android:targetSdkVersion="9"></uses-sdk>
<!--<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>-->



</manifest> 